doctype html
html(lang="es")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1')
		link(rel="stylesheet", href="css/application.css" )
		title Susy
	body
		.wrapper
			header
				img
				h1 Susy
			nav 
				ul
					li Item 1
					li Item 2
					li Item 3
					li Item 4
			.first-row
				.first
					h2 Col 1 Row 1
				.second
					div
						h3 Col2 Row 1
					div
						h3 Col3 Row 1
					div
						h3 Col4 Row 1
					div
						h3 Col5 Row 1
			.pic-gallery
				div
					h3 Pic 1
				div
					h3 Pic 2
				div
					h3 Pic 3
				div
					h3 Pic 4
				div
					h3 Pic 5
			.content-bar
				div
					h3 Content 1
				div
					h3 Content 2
			footer
				h1 Footer					
